[submodule "libmaix"]
	path = libmaix
	url = https://github.com/sipeed/libmaix.git
[submodule "quickjs-ffi"]
	path = quickjs-ffi
	url = https://github.com/onesmash/quickjs-ffi.git
[submodule "quickjs"]
	path = quickjs
	url = https://github.com/onesmash/quickjs.git
